
/* #region footer */


.footer-form-button {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 24px;
    max-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 24px;
}
/* #endregion footer  */

/* #region backdrop */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    height: 584px;
    max-width: 408px;
    min-height: 584px;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.close-button-wrapper {
    border-radius: 4px;
    max-width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;

}

.close-icon {
    fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: relative;
}

.close-button {
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button svg {
    fill: currentColor;
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    color: #fff;
}

.form-container {
    border-radius: 4px;
    max-width: 360px;
    height: 336px;
}

.overlay-page-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.name-form-label {
    margin-top: 16px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 18px;
    height: 24px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    max-width: 360px;
    height: 120px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-top: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.terms-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.checkbox-text-part {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.input-checkbox:checked  + .terms-label .custom-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
}

.custom-checkbox {
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    max-width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .terms-label .check-icon {
    opacity: 1;
}

.terms-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-button {
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    max-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

/* #endregion backdrop */
 

