* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* #region common */ 

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        }
} 
/* #endregion common  */

/* #region header  */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 16px 0;
    display: block;
}

.logo-header .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    } 

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
}

.nav-link-studio {
    position: relative;
    color: #404bbf;
}

.nav-link-studio::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    opacity: 1;
    margin-top: 20px;
    display: inline-block;
    display: flex;
    left: 0;
    bottom: -1px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

@media screen and (min-width: 1158px) {
    .burger-btn {
        display: none;
    }
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

        .contacts-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}
/* #endregion header  */

/* #region mobile-menu  */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: relative;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item:focus,
.mobile-nav-item:hover {
    color: #404bbf; 
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-address {
    margin-bottom: 48px;
}

.social-list-mobile {
    display: flex;
    gap: 40px;
}

.mobile-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) { 
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) { 
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile-menu */

/* #region hero  */

.main-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 216px;
    margin: auto;
}

.hero {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-repeat: no-repeat;
    max-width: 320px;
    height: 432px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
} 

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office2x.jpg");

    }
}

.hero-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    max-width: 169px;
    height: 56px;
    border: none;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 48px auto 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .main-header {
        font-size: 56px;
        line-height: 1.07143;
        max-width: 496px;
    }

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        height: 436px;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("../images/people-office.jpg");
        }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .main-header {
        font-size: 56px;
        line-height: 1.07143;
        max-width: 496px;
        }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/people-office-main.jpg");
        max-width: 1440px;
        height: 600px;
        }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office2x.jpg");
    }
}

/* #endregion hero  */

/* #region features  */

.hero-second,
.team-section,
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.icon-wrapper {
    display: none;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    list-style: none;
    width: 100%;
}

.team-third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}

.third-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .feature-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .feature-item {
        width: calc((100% - 24px) / 2);
       }

    .third-header {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .hero-second,
    .team-section,
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .icon-wrapper {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        max-width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .feature-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        list-style: none;
    }

    .feature-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .descr {
        font-weight: 400;
    }

    .third-header{
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 1.2;
    }
}

/* #endregion features  */

/* #region team  */

.team-section {
    background: #f4f4fd;
}

.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px auto;
} 

.team-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
    height: 428px;
    border-radius: 0 0 4px 4px;
}

.card-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 264px;
}

.photo-container {
    padding: 32px 16px;
}

.team-section .third-header {
    text-align: center;
    margin: auto;
}

.team-section .descr {
    text-align: center;
    margin-top: 8px;
}

.social-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.icon {
    fill: #2e2f42;
}

@media screen and (min-width: 768px) {

.team-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 64px;
    }

}

@media screen and (min-width: 1158px) {

    .team-list {
        display: flex;
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }

}

/* #endregion team  */

/* #region portfolio  */

.portfolio-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.portfolio-section .second-header {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    cursor: pointer;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .overlay {
        position: relative;
        overflow: hidden;
    }

    .text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
    
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .text-overlay {
        transform: translateY(0);
    }

    .portfolio-border {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        max-width: 360px;
    }

    .portfolio-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .portfolio-descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
    }

    .portfolio-item {
        background: #fff;
        max-width: 288px;
    }

@media screen and (min-width: 768px) {
    .portfolio-list {
        display: grid;
        column-gap: 24px;
        row-gap: 72px;
        grid-template-columns: repeat(2, 1fr);
        }

    .portfolio-item {
        width: 356px;
        height: 420px;
    }

    .portfolio-item {
        max-width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
        grid-template-columns: repeat(3, 1fr);
        }

    .portfolio-item {
        height: 420px;
        box-shadow: none;
    }

    .portfolio-item {
        max-width: 360px;
    }
}

/* #endregion portfolio  */

/* #region footer */

.logo-footer .logo-part {
    color: #f4f4fd;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-hero {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-hero .container {
    display: flex;
    flex-direction: column;
}

.footer-socials-container {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-hero .descr {
    color: #f4f4fd;
    max-width: 288px;
}

.footer-socials-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    height: 24px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.footer-form-title {
    margin-top: 72px;
    display: flex;
    justify-content: center;
}

.footer-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.footer-label-container {
    display: flex;
    flex-direction: column;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    margin-top: 16px;
}

.footer-input:hover,
.footer-input:focus {
    border: 1px solid #31d0aa;
    outline: none;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-top: 8px;
}

.footer-form-button {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 24px;
    max-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
    margin-top: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #31d0aa;
}

.button-icon {
    fill: #fff;
}

@media screen and (min-width: 768px) {
    
    .logo-footer,
    .footer-hero .descr {
        display: flex;
        text-align: start;
    }
    
    .footer-hero .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
        max-width: 584px;
        flex-direction: row;
    }

    .footer-socials-container {
        margin-top: 0;
    }

    .footer-social-link {
        justify-content: center;
    }

    .footer-form-title {
        text-align: start;
    }
    
    .footer-form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-label-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
        }

    .footer-form-button { 
        margin-left: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .footer-hero {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-hero .container {
        display: flex;
        align-items: baseline;
        /* gap: 120px; */
        max-width: 1440px;
    }

    .logo-container {
        margin-left: 156px;
        margin-right: 120px;
    }

    .logo-footer {
        display: block;
        margin-bottom: 16px;
    } 

    .footer-socials-container {
        display: grid;
        margin-right: 80px;
    }

   .footer-socials-title {
    display: flex;
   }

    .footer-form-title {
        margin-top: 0;
    }

    .footer-hero .descr {
        max-width: 264px;
    }

    .footer-label-container {
        display: flex;
        align-items: flex-end;
    } 

    .footer-label {
        margin-right: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 453px;
        height: 80px;
        right: 0;
        margin-top: 0;
    }

    .footer-form-button {
        margin-right: 159px;
        margin-left: 0;
    } 
}
/* #endregion footer  */ 

/* #region backdrop */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    height: 584px;
    max-width: 288px;
    min-height: 623px;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.close-button-wrapper {
    border-radius: 4px;
    max-width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;

}

.close-icon {
    fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: relative;
}

.close-button {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button svg {
    fill: currentColor;
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    color: #fff;
}

.form-container {
    border-radius: 4px;
    max-width: 256px;
    height: 336px;
}

.overlay-page-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.name-form-label {
    margin-top: 16px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
    border: 1px solid #4d5ae5;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 18px;
    height: 24px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .form-icon,
.input-wrapper:focus-within .form-icon {
    fill: #4d5ae5;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    max-width: 256px;
    height: 120px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-top: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.terms-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8e8f99;
    cursor: pointer;
    border-radius: 4px;
    max-width: 256px;
    height: 31px;
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container {
    display: block;
}

.checkbox-text-part {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.input-checkbox:checked+.terms-label .custom-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
}

.custom-checkbox {
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    max-width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.check-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 16px;
    height: 16px;
}

.input-checkbox:checked+.terms-label .check-icon {
    opacity: 1;
}

.form-button {
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        min-height: 584px;
    }

    .form-container {
        max-width: 360px;
    }

    .form-textarea {
        max-width: 360px;
    }

    .terms-label {
        max-width: 360px;
        height: 16px; 
    }

    .checkbox-text-part {
        margin-left: 4px;
    }
}

@media screen and (min-width: 1158px) {

    .modal {
        max-width: 408px;
        min-height: 584px;
    }

    .form-container {
        max-width: 360px;
    }

    .form-textarea {
        max-width: 360px;
    }

    .terms-label {
        max-width: 360px;
        height: 16px;
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-text-part {
        margin-left: 4px;
    }
}

/* #endregion backdrop */
