.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* #region common */ 

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
        padding: 0 15px;
        }
} 
/* #endregion common  */

/* #region header  */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 16px 0;
    display: block;
}

.logo-header .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    } 

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
}

.nav-link-studio {
    position: relative;
    color: #404bbf;
}

.nav-link-studio::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    opacity: 1;
    margin-top: 20px;
    display: inline-block;
    display: flex;
    left: 0;
    bottom: -1px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

@media screen and (min-width: 1158px) {
    .burger-btn {
        display: none;
    }
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

        .contacts-link {
            padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}
/* #endregion header  */

/* #region mobile-menu  */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: relative;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-item:focus {
    color: #404bbf; 
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:focus {
    color: #4d5ae5;
}

.mobile-address {
    margin-bottom: 48px;
}

.social-list-mobile {
    display: flex;
    gap: 40px;
}

.mobile-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) { 
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) { 
    .mobile-menu {
        display: none;
    }
}

/* #endregion mobile-menu */